version: '2'
services:
  api:
    build: .
    ports:
     - "11235:11235"
    volumes:
     - .:/usr/src/app
    environment:
      NODE_ENV: "development"
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
    depends_on:
     - neo4j
  neo4j:
    image: neo4j/neo4j:2.3.3
    ports:
     - "7474:7474"
